<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
  <title>Edit User</title>
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">User Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/root}">Home</a>
        </li>
      </ul>
      <a class="navbar-text" th:text="${principal.getName()}"></a>
      <a role="button" class="btn btn-link" th:href="@{/mylogout}">Logout</a>
    </div>
  </div>
</nav>

<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Update User </h1>
      <div class = "card-body">
        <form th:action="@{/admin/edit/{id} (id=${user.id})}" th:object = "${user}" method="POST">
          <div class ="form-group">
            <label> User First Name </label>
            <input
                    type = "text"
                    name = "firstName"
                    th:field = "*{firstName}"
                    class = "form-control"
                    placeholder="Enter new User First Name"
            />
          </div>

          <div class ="form-group">
            <label> User Last Name </label>
            <input
                    type = "text"
                    name = "lastName"
                    th:field = "*{lastName}"
                    class = "form-control"
                    placeholder="Enter new User Last Name"
            />
          </div>

          <div class="form-group">
            <label> User Age </label>
            <input
                    type="number"
                    name="age"
                    class="form-control"
                    th:field="*{age}"
                    placeholder="Enter Last Name"
            />
          </div>

          <div class="form-group">
            <label> User Email </label>
            <input
                    type="email"
                    name="email"
                    class="form-control"
                    th:field="*{email}"
                    placeholder="Enter Email"
            />
          </div>

          <div class ="form-group">
            <label> Enter new User Password </label>
            <input
                    type = "password"
                    name = "password"
                    th:field = "*{password}"
                    class = "form-control"
                    placeholder="Enter new User Password"
            />
          </div>

          <div class="form-group">
            <label> Roles:
              <input
                    type="checkbox"
                    name="roles"
                    th:each="role : ${allRoles}"
                    th:text=" ${role.name} "
                    th:value="${role.id}"
                    th:field="*{roles}"
              />
            </label>
          </div>

          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>